.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border: 17px solid gray;
  background-color: white;

  width: 50vw;

  transform: scale(0.5);
  transition: 0.4s all;

  img {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal__content.active {
  transform: scale(1);

  img {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.title{
  margin: 10px 0 10px 0;
}

.validation_input {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  input {
    margin-bottom: 3px;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #3d3d3d;

    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.select_type {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switches{
  display: flex;
  align-items: center;
  justify-content: space-between;

  p{
    margin: 5px 0 5px 0;
  }
}

.textArea{
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  textarea{
    padding: 10px;
    resize: none;
  }
}

.totalPriceBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.validation_input{
  span{
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
  }
}

.error{
  margin: 0;
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}